<div class="container">
    <div class="col">
        <div class="row mt-2">
            <h2 class="text-center">List of your goals</h2>            
        </div>
        <div class="row" *ngIf="!goals">
            <div>
                <p>It seems you have no goals yet</p>
                <a routerLink="/goals/add">Let`s add one then...</a>
            </div>
        </div>
        <div class="row" *ngIf="goals">
            <app-separate-goal *ngFor="let goal of goals" [goal]="goal"></app-separate-goal>
        </div>
        <div class="row">
            <a routerLink="add" class="text-center ьи-2">Add new goal</a>
        </div>
    </div>
</div>
