<div class="container h-100" *ngIf = 'user'>
    <div class="col justify-content-top flex-column d-lg-flex h-100 text-center profile">
        <div class="userInfo">
            <img [src]="avatar" alt="Avatar" class="avatar">
            <p class="fullName"><strong>{{ user.firstName }} {{ user.secondName}}</strong></p>
            <p class="email">{{ user.email }}</p>
            <p class="gender">{{ user.gender }}</p>
            <p class="birthdate">{{ user.birthdate | date: 'dd MMM yyyy' }}</p>
            <p class="points">{{ user.scores }}</p>
            <button *ngIf="isOwner" class="btn btn-primary setting" (click)="onSubmit()">Settings</button>
        </div>
        <div class="badges">
            <div class="badgList" >
                <img *ngFor="let badge of badges" [src]="badge.url" alt="Badge" (click)="onClick()">
            </div>
        </div>
    </div>
</div>