@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
:host{
    display: block;
    height: calc(100vh - 112px);
    background-image: url('../../../assets/images/bg.png');
    font-family: 'Oswald', sans-serif;
}
@media (max-height: 640px) {
    :host {
        height: 100%;
        padding-bottom: 56px;
        overflow: scroll;
    }
}
.fullName {
    font-weight: 600;
} 
p {
    font-weight: 400;
}
.userInfo {
    position: relative;
}

.userInfo, .badges {
    padding: 1rem;
}
.avatar {
    padding: 1rem;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}
.badges {
    border: 2px solid rgb(7, 110, 136);
    border-radius: 5%;
}
.badgList {
    overflow: auto;
    white-space: nowrap;
    margin: 1rem;
}
.badgList img {
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    max-height: 150px;
    max-width: 150px; 
    background-color: #17a2b8; 
}
.profile {
    background: rgba(167, 160, 160, 0.5);
    border-radius: 5%;
}
.modal {
    background: white;
    position: absolute;
    top: 0;
    right: 50%;
}
.setting {
    position: absolute;
    bottom: 0;
    border-radius: 20%;
}
.points {
    position: absolute;
    bottom: 0;
}

@media (max-width: 420px) {
    .points {
        top: 1rem;
        left: 1rem;
    }
    .setting {
        top: 0.7rem;
        right: 0.2rem;
        max-height: 40px;
        max-width: 75px;
    }
}

@media (min-width: 420px) {
    .points {
        top: 2rem;
        left: 2rem;
    }
    .setting {
        top: 2rem;
        right: 2rem;
        max-height: 50px;
        max-width: 100px;
    }
}